RESEND_API_KEY=re_xxxxxxxxx
ADMIN_EMAIL=josephandcocleaningservicesltd@gmail.com
CUSTOMER_FROM_EMAIL=bookings@mail.josephcleaning.co.uk
WHATSAPP_PRIMARY=447787857305
WHATSAPP_SECONDARY=447570421556
MONGODB_URI=mongodb+srv://dummy-user:dummy-pass@cluster.mongodb.net/josephco
CLOUDINARY_CLOUD_NAME=dummy
CLOUDINARY_API_KEY=dummy
CLOUDINARY_API_SECRET=dummy
